<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ambutrackapplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Admin.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserCategoryWiseHospitalMainActivity"
            android:exported="false" />
        <activity
            android:name=".UserCategoryWiseHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".UserMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserSetUpNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserConfirmRegisterMobileNoActivityActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DriwerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>